{% extends "base.html" %}
{% block main %}
      <!-- Header -->
      <header class="fixed left-0">
        <a
          href="https://github.com/lehinfo-felix"
          class="flex items-center justify-center w-full px-16 text-white mt-16"
          target="_blank"
        >
          <div class="flex items-center">
            <img
              src="https://avatars.githubusercontent.com/u/58048297"
              class="w-12 h-12 rounded-full"
              alt="foto de perfil"
            />
            <h3 class="font-bold px-2">Leandro Felix</h3>
            <img
              src="{{ url_for('static', filename='verificate.svg') }}"
              alt="verificate icon"
              class="w-6 text-white"
            />
          </div>
        </a>
      </header>

      <!-- Main -->
      <main class="w-full flex flex-col items-center justify-center h-full">
        <div class="flex flex-row my-8">
          <div class="bg-purple-400 w-1"></div>
          <h1 class="text-3xl font-bold text-zinc-100 ml-4">Contato</h1>
        </div>
        <section class="text-center text-white text-xl">
          <div class="mt-12">
            <div>
              <div class="flex items-center mb-8">
                <i class="uil uil-phone text-3xl text-purple-600"></i>
                <div class="ml-3">
                  <h3 class="text-left">Ligue</h3>
                  <a href="tel:88996782112 " class="text-md">
                    <span class="text-zinc-400">(88) 99678-2112</span>
                  </a>
                </div>
              </div>

              <div class="flex items-center mb-8">
                <i class="uil uil-envelope text-3xl text-purple-600"></i>
                <div class="ml-3">
                  <h3 class="text-left">Email</h3>
                  <a href="mailto:leandro.felix.ar@gmail.com" class="">
                    <span class="text-zinc-400">leandro.felix.ar@gmail.com</span>
                  </a>
                </div>
              </div class="ml-3">
              <div class="flex items-center">
                <i class="uil uil-map-marker text-3xl text-purple-600"></i>
                <div class="ml-3">
                  <h3 class="text-left">Localização</h3>
                  <a
                    href="https://www.google.com/maps/@-6.5997872,-39.0554832,21z"
                    class=""
                  >
                    <span class="text-zinc-400">Alameda José Quintino, 300</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

{% endblock %}