{% extends "base.html" %}
{% block main %}
      
  <!-- Header -->
  <header class="fixed left-0">
    <a
      href="https://github.com/lehinfo-felix"
      class="flex items-center justify-center w-full px-16 text-white mt-16"
      target="_blank"
    >
      <div class="flex items-center">
        <img
          src="https://avatars.githubusercontent.com/u/58048297"
          class="w-12 h-12 rounded-full"
          alt="foto de perfil"
        />
        <h3 class="font-bold px-2">Leandro Felix</h3>
        <img
          src="{{ url_for('static', filename='verificate.svg') }}"
          alt="verificate icon"
          class="w-6 text-white"
        />
      </div>
    </a>
  </header>

  <!-- Main -->
  <main class="w-full flex flex-col items-center justify-center h-full">
    <div class="flex flex-row my-8">
      <div class="bg-purple-400 w-1"></div>
      <h1 class="text-3xl font-bold text-zinc-100 ml-4">
        Experiência profissional
      </h1>
    </div>
    <!-- Card1 -->
    <div class="flex items">
      <div class="flex flex-col w-40">
        <h2 class="text-zinc-100 text-md">Designer gráfico freelancer</h2>
        <div class="text-zinc-500">
          <h4 class="text-sm">Instituto Agir</h4>
          <p class="text-xs mt-4 mb-4">
            <i class="uil uil-calendar-alt"></i> 2020 - atualmente
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center mx-4">
        <div class="bg-purple-600 w-3 h-3.5 rounded-full"></div>
        <div class="bg-purple-600 w-0.5 h-full"></div>
      </div>
      <div class="mt-12 flex flex-col w-40">
        <h2 class="text-zinc-100 text-md">Estagiário Design gráfico</h2>
        <div class="text-zinc-500">
          <h4 class="text-sm">Papel e Art</h4>
          <p class="text-xs mt-4 mb-4">
            <i class="uil uil-calendar-alt"></i> 2021
          </p>
        </div>
      </div>
    </div>

    <!-- Card2 -->
    <div class="flex items">
      <div class="flex flex-col w-40">
        <h2 class="text-zinc-100 text-md">
          Designer gráfico e projetista 3D
        </h2>
        <div class="text-zinc-500">
          <h4 class="text-sm">Alfa Comunicação Visual</h4>
          <p class="text-xs mt-4 mb-4">
            <i class="uil uil-calendar-alt"></i> 2021 - 2022
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center mx-4">
        <div class="bg-purple-600 w-3 h-3.5 rounded-full"></div>
        <div class="bg-purple-600 w-0.5 h-full"></div>
      </div>
      <div class="mt-12 flex flex-col w-40">
        <h2 class="text-zinc-100 text-md">Desenvolvedor Web freelancer</h2>
        <div class="text-zinc-500">
          <h4 class="text-sm">Alfa Comunicação Visual</h4>
          <p class="text-xs mt-4 mb-4">
            <i class="uil uil-calendar-alt"></i> 2022
          </p>
        </div>
      </div>
    </div>

    <!-- Card3 -->
    <div class="flex flex-col justify-center items-center mx-4">
      <div class="bg-purple-600 w-3 h-3.5 rounded-full"></div>
      <div class="bg-purple-600 w-0.5 h-full"></div>
    </div>
  </main>

{% endblock %}