{% extends "base.html" %}
{% block main %}
  <body class="overflow-hidden flex flex-col justify-center">
    <div class="main z-10">
      <!-- Header -->
      <header class="flex justify-around w-100 flex item">
        <a
          href="https://github.com/lehinfo-felix"
          class="flex items-center justify-center w-full px-16 text-white mt-16"
          target="_blank"
        >
          <div class="flex items-center">
            <img
              src="https://avatars.githubusercontent.com/u/58048297"
              class="w-12 h-12 rounded-full"
              alt="foto de perfil"
            />
            <h3 class="font-bold px-2">Leandro Felix</h3>
            <img
              src="{{ url_for('static', filename='verificate.svg') }}"
              alt="verificate icon"
              class="w-6 text-white"
            />
          </div>
        </a>
      </header>

      <!-- Hero section-->
      <div class="flex justify-center mt-10 flex-col">
        <h1 class="text-3xl text-white text-center">
          < Olá, meu nome é <br /><b
            class="border-b-4 border-purple-600 text-center text-5xl"
            >Leandro Felix</b
          >
          <span class="text-4xl"> :) /> </span>
        </h1>
        <div class="flex mt-10 justify-center">
          <img
            alt="REACTJS"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
            class="mx-1"
          />
          <img
            alt="NODE"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
            class="mx-1"
          />
          <img
            alt="NEXT"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"
            class="mx-1"
          />
          <img
            alt="PYTHON"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
            class="mx-1"
          />
          <img
            alt="FLASK"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"
            class="mx-1"
          />
          <img
            alt="MONGO"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
          />
          <img
            alt="HTML"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
            class="mx-1"
          />
          <img
            alt="CSS"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
            class="mx-1"
          />
          <img
            alt="JS"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
            class="mx-1"
          />
          <img
            alt="TS"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
            class="mx-1"
          />
          <img
            alt="MYSQL"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
            class="mx-1"
          />
          <img
            alt="AWS"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original.svg"
          />
          <img
            alt="LINUX"
            height="38"
            width="40"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
            class="mx-1"
          />
        </div>
      </div>

      <!-- Swiper -->
      <div class="section w-full mt-10">
        <h3
          class="mx-80 pl-4 text-white font-bold border-l-4 border-purple-600"
        >
          Clientes parceiros:
        </h3>
        <div class="swiper-container mt-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide flex justify-center">
              <img
                src="{{ url_for('static', filename='ia.png') }}"
                width="100"
                alt="Imagem 1"
                class="mx-1"
              />
            </div>
            <div class="swiper-slide flex justify-center">
              <img
                src="{{ url_for('static', filename='cm.png') }}"
                width="80"
                alt="Imagem 1"
                class="mx-1"
              />
            </div>
            <div class="swiper-slide flex justify-center">
              <img
                src="{{ url_for('static', filename='az.png') }}"
                width="100"
                alt="Imagem 1"
                class="mx-1"
              />
            </div>
            <div class="swiper-slide flex justify-center">
              <img
                src="{{ url_for('static', filename='af.png') }}"
                width="100"
                alt="Imagem 1"
                class="mx-1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
