{% extends "base.html" %}
{% block main %}

      <!-- Header -->
      <header class="flex justify-around w-100 flex item">
        <a
          href="https://github.com/lehinfo-felix"
          class="flex items-center justify-center w-full px-16 text-white mt-16"
          target="_blank"
        >
          <div class="flex items-center">
            <img
              src="https://avatars.githubusercontent.com/u/58048297"
              class="w-12 h-12 rounded-full"
              alt="foto de perfil"
            />
            <h3 class="font-bold px-2">Leandro Felix</h3>
            <img
              src="{{ url_for('static', filename='verificate.svg') }}"
              alt="verificate icon"
              class="w-6 text-white"
            />
          </div>
        </a>
      </header>

      <!-- Main -->
      <main class="flex items-center justify-center flex-col">
        <div class="flex flex-row my-8">
          <div class="bg-purple-400 w-1"></div>
          <h1 class="text-3xl font-bold text-zinc-100 ml-4">Sobre mim</h1>
        </div>
        <p class="text-zinc-400 w-80 text-center">
          Sou um programador web
          <b class="text-white">ReactJS/React Native/NodeJS</b>. Graduando em
          Sistemas de Informação. Técnico em Informática para desenvolvimento
          web. Possuo Inglês Intermediário e português nativo. Tenho experiência
          com desenvolvimento Web fullstack e sou, atualmente, freelancer. Já
          atuei com criação de SPA's e landing pages e criação e manutenção de
          servidores de empresas.
        </p>
      </main>
      {% endblock %}