<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <title>Sobre - Leandro Félix</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='verificate.svg') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
  </head>
  <body class="overflow-hidden flex flex-col justify-center">
    <div class="main z-10">
      <!-- Header -->
      <header class="flex justify-around w-100 flex item">
        <a
          href="https://github.com/lehinfo-felix"
          class="flex items-center justify-center w-full px-16 text-white mt-16"
          target="_blank"
        >
          <div class="flex items-center">
            <img
              src="https://avatars.githubusercontent.com/u/58048297"
              class="w-12 h-12 rounded-full"
              alt="foto de perfil"
            />
            <h3 class="font-bold px-2">Leandro Felix</h3>
            <img
              src="{{ url_for('static', filename='verificate.svg') }}"
              alt="verificate icon"
              class="w-6 text-white"
            />
          </div>
        </a>
      </header>

      <!-- Main -->
      <main class="flex items-center justify-center flex-col">
        <div class="flex flex-row my-8">
          <div class="bg-purple-400 w-1"></div>
          <h1 class="text-3xl font-bold text-zinc-100 ml-4">Sobre mim</h1>
        </div>
        <p class="text-zinc-400 w-80 text-center">
          Sou um programador web
          <b class="text-white">ReactJS/React Native/NodeJS</b>. Graduando em
          Sistemas de Informação. Técnico em Informática para desenvolvimento
          web. Possuo Inglês Intermediário e português nativo. Tenho experiência
          com desenvolvimento Web fullstack e sou, atualmente, freelancer. Já
          atuei com criação de SPA's e landing pages e criação e manutenção de
          servidores de empresas.
        </p>
      </main>

      <!-- Footer navigation -->
      <nav class="text-white fixed bottom-6 w-full flex justify-center">
        <ul class="flex justify-between">
          <li
            class="border-transparent font-bold px-2 border-b-4 ease-in-out transition-all mx-4 hover:border-purple-500"
          >
            <a href="/">
              <i class="uil uil-estate text-xl"></i>
            </a>
          </li>
          <li
            class="px-2 border-b-4 border-purple-700 ease-in-out transition-all mx-4 hover:border-purple-500"
          >
            <a href="/sobre">
              <i class="uil uil-info-circle text-xl"></i>
            </a>
          </li>
          <li
            class="px-2 border-b-4 border-transparent ease-in-out transition-all mx-4 hover:border-purple-500"
          >
            <a href="/formacao">
              <i class="uil uil-graduation-cap text-xl"></i>
            </a>
          </li>
          <li
            class="px-2 border-b-4 border-transparent ease-in-out transition-all mx-4 hover:border-purple-500"
          >
            <a href="/experiencia">
              <i class="uil uil-bag-alt text-xl"></i>
            </a>
          </li>

          <li
            class="px-2 border-b-4 border-transparent ease-in-out transition-all mx-4 hover:border-purple-500"
          >
            <a href="/contato">
              <i class="uil uil-navigator text-xl"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="w-full h-full z-0">
      <img
        src="{{ url_for('static', filename='blur1.svg') }}"
        alt=""
        class="fixed bottom-0 left-0"
      />
      <img
        src="{{ url_for('static', filename='blur2.svg') }}"
        alt=""
        class="fixed top-0 right-0"
      />
    </div>

    <script>
      const body = document.querySelector("body");
      body.style = `
      background-image: '{{ url_for('static', filename='blur1.svg') }}';
        background-color: #0e141b;
        font-family: 'Inter', sans-serif;
       `;

      var mySwiper = new Swiper(".swiper-container", {
        loop: true,
        autoplay: {
          delay: 2000,
        },
      });
    </script>
  </body>
</html>
